ul{
    list-style: none;

}

a{
    text-decoration:none;
}

img{
    width: 100%;
    height: auto;
}

html{
    scroll-behavior: smooth;
}

body{
    background: $body-color;
    color: $text-color;
}

.divider-1{
    @include divider
}

.tittle{
    font: 700 1.87rem 'Poppins';
    color: $tittle-color;

}