
#home{
    .image{
        position: relative;
        right: 2.93rem;

        &::before{
            content: '';
            height: 100%;
            width: 100%;

            position: absolute;
            top: -16.7%;
            left: 16.69%;
            background: $base-color-alt;

            z-index: -1;

           border-radius: 0.25rem;
        }

        img{
            border-radius: 0.25rem;
        }
    }
}

#home{
    .texts{
        text-align: center;
        h2{
          margin-top: 2rem;  
        }
        p{
            margin-top:1rem; 
            font: 400 1rem 'DM Sans';
            color: $text-color;
        }

        .btn{
            font: 500 1rem 'DM Sans';
            margin-top: 2rem;

            background: $base-color;
            border-radius: 0.25rem;
            color: $body-color;
            height: 3.5rem;

            display: inline-flex;
            align-items: center;
            padding: 0 2rem;

            transition: background 0.2s;
            &:hover{
                background: $base-color-alt;
            }
        }
    }
}