ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F9F9F9;
  color: #767676;
}

.divider-1 {
  background: -webkit-gradient(linear, right top, left top, from(#69B99D), to(rgba(204, 244, 230, 0.34)));
  background: linear-gradient(270deg, #69B99D 0%, rgba(204, 244, 230, 0.34) 100%);
  height: 1px;
}

.tittle {
  font: 700 1.87rem 'Poppins';
  color: #0F241D;
}

#header {
  height: 4.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E4E4E4;
  position: fixed;
  top: 0;
  left: 0;
  background: #F9F9F9;
  z-index: 100;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

main {
  margin-top: calc(4.5rem + 2rem);
}

#home {
  margin: 0;
}

.section {
  padding: 5rem 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

nav {
  height: 4.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font: 700 1.31rem 'Poppins',sans-serif;
  color: #0F241D;
}

.logo span {
  color: #69B99D;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  height: 100vh;
  width: 100vw;
  background: #F9F9F9;
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
  display: grid;
  place-content: center;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav.show .menu ul.grid {
  gap: 4rem;
  place-content: center;
}

nav .menu ul li a {
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

nav .menu ul li a:hover {
  color: #69B99D;
}

nav .menu ul li a::after {
  content: '';
  height: 2px;
  width: 0%;
  background: #69B99D;
  position: absolute;
  bottom: -10px;
  left: 0;
  -webkit-transition: 0.2s width;
  transition: 0.2s width;
}

nav .menu ul li a:hover::after {
  width: 100%;
}

.toggle {
  color: #69B99D;
  font-size: 1.5rem;
}

.toggle.icon-close {
  opacity: 0;
  visibility: hidden;
}

nav.show .toggle.icon-close {
  opacity: 1;
  visibility: visible;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

#home .image {
  position: relative;
  right: 2.93rem;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: -16.7%;
  left: 16.69%;
  background: #CCF4E6;
  z-index: -1;
  border-radius: 0.25rem;
}

#home .image img {
  border-radius: 0.25rem;
}

#home .texts {
  text-align: center;
}

#home .texts h2 {
  margin-top: 2rem;
}

#home .texts p {
  margin-top: 1rem;
  font: 400 1rem 'DM Sans';
  color: #767676;
}

#home .texts .btn {
  font: 500 1rem 'DM Sans';
  margin-top: 2rem;
  background: #69B99D;
  border-radius: 0.25rem;
  color: #F9F9F9;
  height: 3.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

#home .texts .btn:hover {
  background: #CCF4E6;
}

#about {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .text h2 {
  margin-top: 2rem;
}

#about .text p {
  font: 400 1rem 'DM Sans';
  margin-top: 1rem;
  color: #767676;
}
/*# sourceMappingURL=main.css.map */