$base-color:#69B99D;
$base-color-alt:#CCF4E6;
$tittle-color:#0F241D;
$text-color:#767676;
$text-color-light:#E4E4E4;
$body-color:#F9F9F9;


                //define o display e aplica uma altura ao header e nav

@mixin flex {
    height: 4.5rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

              //gradient que divide cada section  
@mixin divider{
    background: linear-gradient(270deg, #69B99D 0%, rgba(204, 244, 230, 0.34) 100%);
    height: 1px;
}

@import 'base';
@import 'layout';
@import 'nav';
@import 'home';
@import 'about';
